
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h3>MVC Kamp Tablo Örneği - Kategori</h3>
    <br />
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Güncelle</th>
        </tr>
        <tr>
            <td>1</td>
            <td>ad</td>
            <td>Açıklama</td>
            <td>True</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>ad</td>
            <td>Açıklama</td>
            <td>True</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>ad</td>
            <td>Açıklama</td>
            <td>True</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
    </table>
    <button class="btn btn-info">Yeni Kategori</button>
    <button class="btn btn-warning">Kategori Listesi</button>
    <button class="btn btn-danger">Kategori Açıklamaları</button>

</div>